* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}


/* html {
    overflow: hidden;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}


/* **********************************************************
global css start

*/

.title {
    width: 100%;
    text-align: center;
    margin: 0px 0px 60px;
}

.title h5 {
    font-size: 18px;
    line-height: 28px;
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.title h2 {
    font-size: 42px;
    line-height: 52px;
    color: #000;
    text-transform: capitalize;
    margin: 0px 0px 20px 0px;
    font-weight: 500;
}


/* global css end */

.header {
    width: 100%;
    background: url("../images/banner.png")center top no-repeat;
    background-size: cover;
}

.main-menu {
    width: 100%;
}

.main-menu .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    margin: 0px 0px 0px 20px;
    text-transform: capitalize;
}

.main-menu .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
}

.main-menu .navbar-light .navbar-nav .nav-link:hover,
.main-menu .navbar-light .navbar-nav .nav-link:focus {
    background: url("../images/double-line.png") center bottom no-repeat;
    background-size: auto;
}

.banner {
    width: 100%;
    padding: 120px 0px;
}

.banner h5 {
    font-size: 18px;
    line-height: 28px;
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner h1 {
    width: 50%;
    font-size: 52px;
    line-height: 62px;
    color: #fff;
    text-transform: capitalize;
    margin: 0px 0px 15px 0px;
}

.banner p {
    width: 33%;
    font-size: 16px;
    line-height: 26px;
    color: #79797b;
}

.button-group {
    width: 100%;
    padding: 35px 0px;
}

.button-group .btn-primary {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 25px;
    border: 1px solid #008ed6;
    transition: 0.6s ease-in;
    margin: 0px 20px 0px 0px;
    background: #008ed6;
}

.button-group .btn-primary:hover,
.button-group .btn-primary:focus {
    color: #008ed6;
    background: transparent;
}

.button-group .btn-light {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 25px;
    border: 1px solid #79797b;
    transition: 0.6s ease-in;
    margin: 0px 20px 0px 0px;
    background: transparent;
}

.button-group .btn-light:hover,
.button-group .btn-light:focus {
    color: #fff;
    background: #008ed6;
}

.features {
    width: 100%;
    padding: 80px 0px;
    border-bottom: 1px solid #eee;
}

.features .inner-feature {
    width: 100%;
    padding: 30px;
    text-align: center;
}

.features .inner-feature .icons {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #eee;
    border-radius: 100%;
    margin: 0px auto 20px;
    transition: 0.6s ease-in;
}

.features .inner-feature .icons:hover,
.features .inner-feature .icons:focus {
    background-color: #cccccc;
}

.features .inner-feature h3 {
    font-size: 24px;
    line-height: 34px;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
}

.features .inner-feature p {
    width: 91%;
    font-size: 16px;
    line-height: 26px;
    color: #999999;
    font-weight: 400;
}

.about-long {
    width: 100%;
    padding: 80px 0px;
}

.about-long .about-img {
    width: 100%;
}

.about-long .about-img img {
    width: 90%;
}

.about-long .title {
    width: 100%;
    margin: 0px 0px 20px;
    text-align: left;
}

.about-long p {
    width: 67%;
    font-size: 16px;
    line-height: 26px;
    color: #999999;
    font-weight: 400;
}

.about-long ul {
    padding: 10px 0px 0px;
    display: block;
}

.about-long ul li {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin: 0px 0px 10px;
}

.about-long ul li img {
    width: 13px;
    height: 15px;
    margin: 0px 10px 0px 0px;
}

.about-sort {
    width: 100%;
    padding: 80px 0px;
    background: #f2f2f2;
}

.about-sort .title {
    width: 100%;
    text-align: left;
    margin: 0px 0px 20px;
}

.about-sort p {
    width: 80%;
    font-size: 16px;
    line-height: 26px;
    color: #999999;
    font-weight: 400;
}

.testimonials {
    width: 100%;
    padding: 80px 0px;
    background: url("../images/slider.png")center top no-repeat;
    background-size: cover;
}

.testimonials .title {
    width: 100%;
}

.testimonials .title h2 {
    color: #fff;
}

.testimonials .owl-carousel .item h4 {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-style: italic;
    font-weight: 400;
    margin: 0px 0px 30px 0px;
}

.testimonials .owl-carousel .item img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.testimonials .owl-carousel .item h6 {
    font-size: 14px;
    color: #fff;
    margin: 20px 0px 5px 0px;
}

.testimonials .owl-carousel .item p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
}

.testimonials .owl-theme .owl-dots {
    margin: 110px 0px 0px 0px !important;
}

.I-catcher {
    width: 100%;
    background: #15141a;
    padding: 40px 0px;
}

.I-catcher h2 {
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    font-weight: 300;
    margin: 0px;
}

.I-catcher span {
    font-weight: 700;
}

.I-catcher .button-group {
    padding: 0px;
    text-align: right;
}

.I-catcher .button-group .btn-primary {
    margin: 0px 0px 0px 0px;
}

.I-catcher .button-group .btn-light {
    margin: 0px 25px 0px 0px;
}

.price-plan {
    width: 100%;
    padding: 80px 0px;
}

.price-plan .title {
    text-align: center;
}

.price-plan .price {
    width: 100%;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.price-plan .price .price-head {
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.price-plan .price .price-head h2 {
    font-size: 32px;
    line-height: 42px;
    color: #000;
    margin: 0px;
    font-weight: 600;
    text-transform: uppercase;
}

.price-plan .price .inner-price {
    width: 100%;
    padding: 45px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.price-plan .price .inner-price h1 {
    font-size: 52px;
    line-height: 62px;
    color: #000;
    margin: 0px;
    font-weight: 600;
}

.price-plan .price .inner-price sup {
    margin: 0px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 500;
}

.price-plan .price .inner-price p {
    font-size: 16px;
    line-height: 26px;
    color: #999;
    font-weight: 500;
}

.price-plan .price .price-content {
    width: 100%;
    padding: 50px 58px 35px;
}

.price-plan .price .price-content p {
    font-size: 16px;
    line-height: 26px;
    color: #999;
    font-weight: 500;
    margin: 0px 0px 40px 0px;
}

.price-plan .price .price-content a {
    color: #008ed6;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.price-plan .price .price-content .btn-primary {
    font-size: 16px;
    line-height: 26px;
    padding: 12px 45px;
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.price:hover .price-head h2 {
    color: #008ed6;
    transition: 0.6s;
}

.price:hover .inner-price {
    background: #008ed6;
    transition: 0.6s;
}

.price:hover .inner-price h1,
.price:hover .inner-price p {
    color: #fff;
    transition: 0.6s;
}

.price:hover .price-content .btn-primary {
    background-color: #008ed6;
    transition: 0.6s;
    color: #fff;
}

.contact {
    width: 100%;
    padding: 80px 0px 0px;
    position: relative;
}

.contact .title {
    text-align: center;
}

.contact .info {
    width: 100%;
    text-align: center;
}

.contact .info img {
    margin: 0px 0px 25px;
}

.contact .info p {
    font-size: 16px;
    line-height: 26px;
    color: #999;
    font-weight: 500;
}

.contact .main-form {
    width: 100%;
    background: #15141a;
    padding: 60px 55px 20px;
    margin: 30px 0px 0px;
    position: relative;
    margin-bottom: -75px;
    z-index: 1;
}

.contact .main-form .form-control {
    padding: 13px;
    background: transparent;
    border: 1px solid #999;
    color: #999;
}

.contact .main-form .form-control:hover,
.contact .main-form .form-control:focus {
    border: 1px solid #999;
    box-shadow: 0 0 0 1px #999;
}

.contact .main-form .text-right {
    text-align: right;
}

.contact .main-form .btn-primary {
    padding: 12px 35px;
    margin: 10px 0px 0px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background: #008ed6;
}

.contact .main-form .btn-primary:hover,
.contact .main-form .btn-primary:focus {
    background: transparent;
    color: #008ed6;
    transition: 0.8s;
}

.map {
    width: 100%;
    position: relative;
    z-index: 0;
}

.footer {
    width: 100%;
    background: #15141a;
    padding: 40px 0px;
}

.footer .footer-icons {
    width: 100%;
    text-align: center;
}

.footer .footer-icons a {}

.footer .footer-icons img {
    font-size: 14px;
    margin: 0px 25px 20px 0px;
}

.footer p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #444348;
    font-weight: 500;
    margin: 0px;
}